#footer {
  text-align: center;
  background-color: #fff;
}

a {
  margin: 5% 5px 1% 1%;
}

a:hover {
  color: #ff4c68;
}

.copyright {
  font-family: "Pacifico", cursive;
  color: #440a67;
}
.copyright:hover {
  color: #ff4c68;
}
